html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow-x: hidden;
    min-height: 100vh;
    z-index: 1;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    pointer-events: none;
    z-index: -1;
}
  
.star {
    position: absolute;
    width: 6em;
    height: 2px;
    background: linear-gradient(45deg, rgb(224, 232, 254), transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px rgb(152, 174, 230));
    animation: fall 10s linear infinite, tail-fade 10s ease-out infinite;
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgb(214, 228, 255), transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}
  
.star::before {
    transform: rotate(45deg);
}
  
.star::after {
    transform: rotate(-45deg);
}
  
@keyframes fall {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-30em);
    }
}
  
@keyframes tail-fade {
    0%, 50% {
      width: 6em;
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
}
  
@keyframes blink {
    50% {
      opacity: 0.6;
    }
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    background-color: #1e3c72;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
}

.titre {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 5px #98c6f6, 0 0 10px #98c6f6, 0 0 20px #98c6f6, 0 0 40px #98c6f6, 0 0 80px #98c6f6;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #98c6f6, 0 0 10px #98c6f6, 0 0 20px #98c6f6, 0 0 40px #98c6f6, 0 0 80px #98c6f6;
    }
    100% {
        text-shadow: 0 0 10px #4e3e85, 0 0 20px #4e3e85, 0 0 40px #4e3e85, 0 0 80px #4e3e85, 0 0 160px #4e3e85;
    }
}

section {
    scroll-margin-top: 100px;
    padding: 1vw;
    text-align: center;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 130%;
    line-height: 35px;
}

.titre-section {
    font-size: 2.5rem;
    font-family: cursive;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: #e3e3e3;
    border-radius: 8px;
}

.card {
    transform: scale(0.9);
    box-shadow: none;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    width: 20%;
    border-radius: 5px;
    background: #cfd2e2;
    position: relative;
    z-index: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 90%;
    height: auto;
    transition: all 0.4s ease;
    object-fit: contain;
}

.card p {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-top: 10px;
}

.card:hover img {
    width: 50%;
}

.card:hover p {
    opacity: 1;
    transform: translateY(0);
}

.descrip {
    font-family: monospace;
    font-size: 14px;
}
  
img {
    border-radius: 5px 5px 0 0;
}
  
.container {
    padding: 2px 16px;
}

.projet {
    background: #e3e3e3;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #102345;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
